# Dependencies
node_modules/
.pnp
.pnp.js

# Build and Output
*.bkp
*favicon/
dist/
build/
dist/
cache/
.docusaurus/
.portosaur/
.turbo/
configSchema.json
scratch
scratch.*
TestimonialsSection/

# Env
.env
.env.*
!.env.example
# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Test / Temporary
my-portfolio/
*test-site/
*test/
TEST/

ss.*
*tmp*
*.tmp
*.temp
temp/
!templates/**
