/* Catppuccin colors */
@import url('./catppuccin.css');

/* Bootstrap (some prebuilt) */
@import url(./bootstrap.css);


/* === Component overrides === */

html {
  scroll-behavior: smooth;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-footer-background-color) !important;
}

.main-wrapper {
  background-color: var(--ifm-background-color) !important;
}

.navbar {
  background-color: var(--ifm-navbar-background-color) !important;
}

/* Reduce gap between navbar items */
.navbar__items .navbar__item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}

.navbar__link {
  font-size: 0.95rem;
}

._navbar-more-items { 
  padding-left: 8px;
  margin-left: -7px;
  border-left: 1.5px solid var(--ifm-background-surface-color) !important;
}

@media (max-width: 768px) {
  ._navbar-more-items {
    border-left: 0 !important;
    padding-left: 13px !important;
    margin-left: 0 !important;
  }
}

/* Search local styles */
:root {
  --search-local-modal-background: var(--ifm-background-color);
  --search-local-modal-shadow: 0 2px 8px 0 var(--ifm-shadow-color);
  --search-local-hit-background: var(--ifm-card-background-color);
  --search-local-hit-shadow: 0 1px 3px 0 var(--ifm-shadow-color);
  --search-local-hit-color: var(--ifm-font-color-base);
  --search-local-highlight-color: var(--ifm-color-primary);
  --search-local-muted-color: var(--ifm-font-color-base);
  --search-local-hit-active-color: var(--ifm-background-color);
  --search-local-input-active-border-color: var(--ifm-color-primary);
}

/* Hide keyboard shortcut hint */
.searchHintContainer_Pkmr {
  display: none !important;
}

.navbar__search-input {
  width: 130px;
  font-size: 0.85rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23cdd6f4' d='M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z'/%3E%3C/svg%3E");
}

[data-theme='light'] .navbar__search-input {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%234c4f69' d='M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z'/%3E%3C/svg%3E");
}

.footer {
  background-color: var(--ifm-footer-background-color) !important;
  padding-top: 0rem !important;
  padding-bottom: 0.15rem !important;
  margin: 0 !important;
}

.footer__copyright {
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-size: 0.8rem;
}

.cardDescription_PWke {
  color: var(--ifm-font-color-base) !important;
  opacity: 0.6;
}

.hide-this {
  display: none !important;
}

/* Docs Styling */

/* .docs-wrapper {
  background-color:darksalmon !important;
  } article {
      background-color: red !important;
    } .markdown  {
      background-color: blue !important;
      } .hide-this {
        display: none !important;
        }
*/

.breadcrumbs__link {
  font-size: 0.7rem;
  padding: 0.1rem 0.2rem !important;
  opacity: 76%;
}

.breadcrumbs__item--active .breadcrumbs__link {
  border: none !important;
  background-color: transparent !important;
}

.markdown h1 {
  text-align: center;
  color: var(--ifm-color-primary);
  margin-top: 0.3rem;
  margin-bottom: 2.7rem !important;
}

.markdown h2 {
  color: var(--ifm-color-primary);
}

.markdown img {
  display: block;
  margin: 0 auto;
  padding: 1px;
  border: 2px solid var(--ifm-background-surface-color);
  border-radius: 14px;
}

mark {
  background-color: rgba(var(--ctp-peach-rgb), 0.2);
  color: var(--ifm-font-color-base);
  padding: 0.17rem 0.27rem;
  border-radius: 0.2rem;
  border-bottom: 1px solid var(--ifm-color-primary);
}

.pagination-nav__link {
  border: 1px solid var(--ifm-background-color);
  background-color: var(--ifm-background-surface-color);
}

.pagination-nav__link:hover {
  border: 1px solid var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.table-of-contents__link--active {
  font-weight: bold;
}



/* Reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


